@main-color: #81D8D0;
@background-color: #f3fffe;
@block-bg: #e2fefc;
@text-black: #191919;

@h2size: 36px;
@h3size: 24px;
@h4size: 20px;
@h2msize: 24px;
@h3msize: 18px;
@h4msize: 16px;


@digit-size: 44px;
@digit-width: 1ch;
@digit-color: #333;
@spin-duration: 1s;
@spin-delay-gap: 0.3s;
@digit-list-length: 11;

@table-radius: 15px;
@text-color: #fff;
@head-bg: #e0f2ff;
@head-text: #424241;

@color-underweight: #f4ed4d;
@color-normal:     	#9fde52;
@color-overweight: #f5c54d;
@color-obese:      #f48053;

@gender-toggle-height: 44px;
@gender-toggle-bg: #def4f3;
@gender-toggle-color: #00a69c;